<section>
<br/>
   <div>
  <a class="btn btn-success" ui-sref="articles.list">
      <i class="glyphicon glyphicon-list"></i> Retour à la liste
    </a>
  </div>
 <div class="page-header">
    <h1 ng-bind="vm.article.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.article.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="articles.edit({ articleId: vm.article._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.article.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.article.user" ng-bind="vm.article.user.displayName"></span>
      <span ng-if="!vm.article.user">Deleted User</span>
      Id={{vm.article._id}}
    </em>
  </small>
  <p class="lead" ng-bind="vm.article.content"></p>
  {{vm.article.operand | json }}
  <op-viewer op="vm.article.operand"></op-viewer>
  <hr/>

  <!-- <p>$scope.smevent:{{smevent | json}}</p> -->
  <p>$scope.mystef:{{mytest}}</p>
  <p>$scope.smevent:{{smevent}}</p>

<!-- <div html-compiler="precompiled"></div> -->
<div html-compiler="build"></div>
<!-- <div element-compiler="elbuild"></div> -->
<hr/>
<!-- <html-compiler html="{{vm.build}}"></html-compiler> -->
</section>
